.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
background-color: #4169E1;
}

td {
  text-align: center;
  border: solid black 1px;
  color: white;
}

thead {
  background-color: #F08080;
  color: black;
}
thead > tr> td {
  color: black !important;
}
li {
  list-style: none;
  display: inline;
  margin: 2em;
  border: solid black 1px;
  background-color: gray;

}

nav a {
  margin: 1em;
  font-size: 25;
}

nav > a {
  margin: 1em;
  font-size: 25;
}

.navbar-brand {
  font-size: 25;
}

label {
  color: white;
}